
.footer{
    font-size: 30px;
    padding: 0.2vw;

    height: 100%;
    background-color: #BF335D;
}

.footer-position{
  
        width: 100%;
}

.up-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.media-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.media-social h3 {
    font-weight: 300;
    font-size: 20px;
    display: flex;
    
    color: #FFFFFF;
}

.media-social p {
    font-size: 18px;
}

a {
text-decoration: none;
color: #FFFFFF;
}

.anchor-media {
    display: flex;
    gap: 16px;
    align-items: center;
}


.whatssap {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
 justify-content: center;
 align-items: center;
    background-color: #FFFF;
    color: #BF335D;

}

.bottom-content{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.direitos{
    display: flex;
    gap: 10px;
    padding: 0 10px 0 10px;
}

.direitos a{
    font-size: 20px;
    align-items: center;
  
}

.line{
    display: flex;
    border: 1px solid #FFFF;
height: 1px;
width: 100%;
}
