.input {
    flex: 1;
    background-color: #FFFF;
    border-radius: 15px;
    padding: 0 15px 0 15px;
    display: flex;
    border: 0 none;
    height: 30px;
    width: 100%;
}

 
.input:focus{
    border: 0 none;
    outline: 0;
}