@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rufina:wght@400;700&display=swap');
.content-modal2{
    background-color: #BF335D;
    padding: 0 100px 0 800px;
    border-top-left-radius: 55px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 55px;
    margin-left: 25px;
   }
   
   .content-image2{
       display: flex;
       bottom: 0;
       max-width: max-content;
       height: 100%;
       padding: 20% 0 0 0;
   
   }
   
   .image-women2{
       width: 400px;
   }
   
   .texto-home{
    color: white;
    margin-top: 70px;
   }

   .maior{
    font-size: 40px;
    margin-left: -910px;
    font-family: rufina;
   }

   .maioresquerda2{
    font-size: 40px;
    margin-left: -1150px;
    font-family: rufina;
   }
   .maioresquerda1{
    font-size: 40px;
    margin-left: -944px;
    font-family: rufina;
   }
   
   .menor{
    font-size: 25px;
    font-family: rufina;
    margin-left: -1010px;
   }

   .menor1{
    margin-left: -1056px;
    font-family: rufina;
    font-size: 25px;
   }
   .menor2{
    margin-left: -991px;
    font-family: rufina;
    font-size: 25px;
   }

   .servico{
    color: #D7B39F;
    font-family: roboto slab;
    font-size: 40px;
   }

   .servicomenor{
    color: #D7B39F;
    font-family: roboto slab;
    font-size: 30px;
    margin-top: -80px;
   }

   .divservicos{
    display: inline-block;
    width: 1500px;
    padding: 200px;
   }

   .imagem-limpeza{
    width: 344.2px;
    margin-top: -190px;
    border:solid #D7B39F;
   }

   .imagem-micro{
    width: 345px;
    margin-top: -190px;
    border:solid #D7B39F;
   }
   .imagem-design{
    width: 344.2px;
    margin-top: -190px;
    border:solid #D7B39F;
   }

   .div-nome{
    display: inline;
   }

   .nome1{
    font-family: rufina;
    color:  #D7B39F;
    font-size: 22px;
    margin-left: -680px;
   }

   .nome2{
    font-family: rufina;
    color: #D7B39F;
    font-size: 22px;
    margin-top: -27px;
   }

   .nome3{
    font-family: rufina;
    color: #D7B39F;
    font-size: 22px;
    margin-left: 680px;
    margin-top: -27px;
   }
   
   