@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.content-modal2{
    background-color: #BF335D;
    width: 100%;
    margin-top: -80px;
   }
   
   .content-image2{
       display: flex;
       bottom: 0;
       max-width: max-content;
       height: 100%;
       padding: 10% 0 0 0;
       margin-left: 1000px;
   }
   
   .image-women2{
       width: 400px;
   }
   
   .texto-home{
    color: white;
    margin-top: 70px;
   }

   .maior{
    font-size: 40px;
    margin-left: -910px;
    font-family: rufina;
   }

   .maioresquerda2{
    font-size: 40px;
    margin-left: -1150px;
    font-family: rufina;
   }
   .maioresquerda1{
    font-size: 40px;
    margin-left: -944px;
    font-family: rufina;
   }
   
   .menor{
    font-size: 25px;
    font-family: rufina;
    margin-left: -1010px;
   }

   .menor1{
    margin-left: -1056px;
    font-family: rufina;
    font-size: 25px;
   }
   .menor2{
    margin-left: -991px;
    font-family: rufina;
    font-size: 25px;
   }

   .servico{
    color: #BF335D;
    font-family: poppins;
    font-size: 40px;
    margin-top: 50px;
   }

   .servicomenor{
    color: #BF335D;
    font-family: poppins;
    font-size: 30px;
    margin-top: -80px;
   }

   .divservicos{
    display: inline-block;
    width: 1600px;
    padding: 100px;
    margin-top: -100px;
   }

   .imagem-limpeza{
    width: 344.2px;
    margin-top: -190px;
    border:solid #BF335D;
    margin: 0 15px; /* Adiciona espaçamento entre as imagens */
   }

   .imagem-micro{
    width: 345px;
    margin-top: -190px;
    border:solid #BF335D;
    margin: 0 15px; /* Adiciona espaçamento entre as imagens */
   }
   .imagem-design{
    width: 344.2px;
    margin-top: -190px;
    border:solid #BF335D;
    margin: 0 15px; /* Adiciona espaçamento entre as imagens */
   }

   .div-nome{
    display: inline;
   }

   .nome1{
    font-family: rufina;
    color:  #BF335D;
    font-size: 22px;
    margin-left: -750px;
   }

   .nome2{
    font-family: rufina;
    color: #BF335D;
    font-size: 22px;
    margin-top: -27px;
   }

   .nome3{
    font-family: rufina;
    color: #BF335D;
    font-size: 22px;
    margin-left: 750px;
    margin-top: -27px;
   }

   .Historia{
    color: #BF335D;
    font-size: 40px;
    font-family: poppins;
    margin-top: 110px;
   }

   .div-historia{
    background-color: #BF335D;
    display: flex;
    margin-top: 50px;
    width: 1500px;
    margin-left: -50px;
   }

   .imagem-historia{
    width: 480px;
    margin-left: 150px;
   }

   .escrita-historia{
    font-family: rufina;
    color: white;
    font-size: 30px;
    text-align: justify;
    margin-right: 20px;
   }

   .div-menorescrita{
    width: 570px;
    height: 450px;
    margin-top: 150px;
    margin-left: 60px;
   }

   .feedback{
    font-family: poppins;
    font-size: 40px;
    margin-top: 120px;
    color: #BF335D;
   }

   .reti1{
    font-size: 80px;
   }

   .btn-agendar2{
    border: 1px solid #FFFFFF;
    width: 100px;
    height: 50px;
    background-color: #BF335D;
    border-radius: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: rufina;
    margin-left: -1200px;
    margin-top: 50px;
}

.btn-agendar2:hover{
    transform: scale(1.1); 
    background-color: #BF335D;
    transition: all 5ms;
    cursor: pointer;
}

.div-feedback{
    display:flex;
    width: 1400px;
    height: 220px;
    margin-top: 60px;
    justify-content: center;
    gap: 180px;
   }
   .divfeed1{
    background-color: #BF335D;
    width: 350px;
    height: 220px;
    font-family: rufina;
    color: white;
   }
   .divfeed2{
    background-color: #BF335D;
    width: 350px;
    height: 220px;
   }
   .divfeed3{
    background-color: #BF335D;
    width: 350px;
    height: 220px;
   }

   .retis1{
    margin-left: -280px;
    font-size: 50px;
   }

   .karen{
    margin-left: -45px;
    margin-top: -30px;
    font-family: rufina;
   }

   .karenfeed{
    text-align: left;
    font-family: rufina;
    font-size: 18px;
    margin-left: 16px;

   }
   
   .divkaren{
    width: 280px;
    height: 200px;
    margin-top: 20px;
   }

   .retis2{
    margin-left: -295px;
    font-size: 50px;
   }

   .larissa{
    margin-left: -150px;
    margin-top: -30px;
    font-family: rufina;
   }

   .larissafeed{
    text-align: left;
    font-family: rufina;
    font-size: 18px;
    margin-left: 16px;

   }
   
   .divlarissa{
    width: 280px;
    height: 200px;
    margin-top: 20px;
   }

   .retis3{
    margin-left: -300px;
    font-size: 50px;
   }

   .lucas{
    margin-left: -170px;
    margin-top: -30px;
    font-family: rufina;
   }

   .lucasfeed{
    text-align: left;
    font-family: rufina;
    font-size: 18px;
    margin-left: 16px;

   }
   
   .divlucas{
    width: 280px;
    height: 200px;
    margin-top: 20px;
   }
   