.nav {
    width: 100%;
    background-color: #BF335D;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.title {
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
}

.content-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.routes {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 60px;
    justify-content: center;
    list-style: none;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
}

.routes a {
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.2s ease;
    font-size: 24px;
    font-weight: 500;
}

.routes a:hover {
    font-size: 20px;
}

.login-button {
    width: 35px;
    height: 35px;
    translate: all 0.3s ease;
}
.login-button:hover {
    transform: scale(1.1);
}


.img-perfil {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
    translate: all 0.3s ease;
}

.img-perfil:hover {
    transform: scale(1.1);
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.btn-logout {
    border: 2px solid #BF335D;
    width: 80px;
    height: 40px;
    background-color: #AF0135;
    border-radius: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-logout:hover {
    transform: scale(1.1);
    background-color: #BF335D;
}